<div layout="column" flex>


</div>

<div layout='column' layout-fill>
    <minimal-header class="md-whiteframe-2dp"></minimal-header>
    <md-content flex>
        <md-content layout="row" flex>
            <div flex="20">First item in row</div>
            <div flex>Second item in row</div>
            <div style="background-color: white;" flex="nogrow">

            </div>
        </md-content>
    </md-content>
</div>